[Service]
ExecStart=/usr/bin/tws-rust %i --config /etc/tws/%i.yaml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tws
User=nobody
Environment="SSL_CERT_DIR=/etc/ssl/certs"
[Install]
WantedBy=multi-user.target
